# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.yarn/*
!.yarn/patches
!.yarn/releases
vite.config.ts.*

packages/contracts/target
packages/contracts/artifacts

# TypeScript build cache
*.tsbuildinfo

# Turbo
.turbo
codegenCache.json
